head
  title Notepag.es - #{page.pagename}
  link(rel="stylesheet", href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css")
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.5.min.js")
  script(type="text/javascript", src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js")
  link(href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', rel='stylesheet', type='text/css')
  
  link(rel="stylesheet", href="/stylesheets/mobile.css")
  link(rel="stylesheet", href="/stylesheets/universal.css")
  link(rel="shortcut icon", href="/favicon.ico")
  
  script(type="text/x-mathjax-config")
    :protect
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["%%","%%"]]},
        "HTML-CSS": {
          scale: 100
        }
      });
  script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js")
  
  script(src="/lib/quickdiff/quickdiff.js")
  script(src="/lib/mdext/src/showdown.js")
  
  script
    var editing = #{page.editing};
    var pagename = "#{page.pagename}";
  
  script(src="./assets/universal.js")
  script(src="./assets/mobile.js")
body

  #reader(data-role="page")

    div(data-role="header")
      h1= page.pagename
      a.ui-btn-right(href="#editor", data-icon="arrow-r", data-iconpos="right") edit

    div(data-role="content")
      #page
        #content
          div!= page.content

    div(data-role="footer")
      h4 Notepag.es was created by <a href="http://blog.chris-spencer.co.uk">Chris Spencer</a>

  
  #editor(data-role="page")
    div(data-role="header")
      h1 edit #{page.pagename}
      a.ui-btn-right(href="#savedialog", data-rel="dialog", data-transition="pop") save

    div(data-role="content")
      div(data-role="fieldcontain")
        textarea#textarea(style="width: 98%", name="textarea")

    div(data-role="footer")
      h4 Notepag.es was created by <a href="http://blog.chris-spencer.co.uk">Chris Spencer</a>
  
  
  #savedialog(data-role="page")
    div(data-role="header")
      h1 Save #{page.pagename}
    
    div(data-role="content")
      div(data-role="fieldcontain")
        label(for="password") Password (optional):
        input#password(type="password", name="password", value="")
      
      #formerror
        &nbsp;
  
      .ui-body.ui-body-b
        fieldset.ui-grid-a
          .ui-block-a
            a(data-role="button", data-rel="back") Cancel
          .ui-block-b
            a#saveform(data-role="button") Save