head
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=IE8")
  meta(charset="UTF-8")
  title Notepag.es - #{page.pagename}
  
  script
    var editing = #{page.editing};
    var pagename = "#{page.pagename}";
    var passreq = #{page.passreq};
  
  link(href='https://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic,bold,bolditalic', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="/stylesheets/browser.css")
  link(rel="stylesheet", href="/stylesheets/print.css", media="print")
  link(rel="shortcut icon", href="/favicon.ico")

body
  #notify.drop-shadow
    span.message
  #page.drop-shadow
    #output
      div!= page.content
      div.clear
    #footer Notepag.es was created by <a href="http://blog.chris-spencer.co.uk">Chris Spencer</a> and is <a href="https://github.com/fivesixty/notepages">Open Source</a>
  
  #toolpanel.readonly
    a#edit.readonly(href="#edit") edit
      #pencil_24_png.sprites
    
    a#cancel.edit(href="#edit") close
      #cancel_24_png.sprites
          
    a#save.edit(href="#edit") save
      #save_24_png.sprites
              
    a#preview.edit(href="#edit") preview
      #magnifier_24_png.sprites
                  
    a#password.edit(href="#edit") password
      #lock_24_png.sprites
  
  #editpanel
    #dragger
    #acetools
    #ace
    #settings
      select
        optgroup(label="Editor Mode")
          option Markdown
      
      select#themeselect
        optgroup(label="Editor Themes")
          option(value="ace/theme/clouds") Clouds
          option(value="ace/theme/dawn") Dawn
          option(value="ace/theme/eclipse") Eclipse
        optgroup(label="Dark)
          option(value="ace/theme/clouds_midnight") Clouds Midnight
          option(value="ace/theme/cobalt") Cobalt
          option(value="ace/theme/idle_fingers") idleFingers
          option(value="ace/theme/kr_theme") krTheme
          option(value="ace/theme/mono_industrial") Mono Industrial
          option(value="ace/theme/monokai") Monokai
          option(value="ace/theme/merbivore") Merbivore
          option(value="ace/theme/merbivore_soft") Merbivore Soft
          option(value="ace/theme/pastel_on_dark") Pastel on dark
          option(value="ace/theme/twilight", selected) Twilight
          option(value="ace/theme/vibrant_ink") Vibrant Ink
      
      select#tabselect
        optgroup(label="Tab Size") 
          option(value="2", selected) Soft: 2
          option(value="4") Soft: 4
          
      select#wrapselect
        optgroup(label="Wrapping Mode")
          option(value="soft", selected) Soft Wrap
          option(value="none") No Wrap
  
  script(type="text/x-mathjax-config")
    :protect
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["%%","%%"]]},
        "HTML-CSS": {
          scale: 100
        }
      });
      if (!editing) {
        MathJax.Hub.Register.StartupHook("End Typeset",
          function (message) {
            $("#toolpanel").show("slide", {direction: "up"});
          }
        );
      }
  script(type="text/javascript", src="/javascripts/LAB.min.js")
  script(type="text/javascript")
    var protocol = 'https:' == document.location.protocol ? 'https://' : 'http://';
    $LAB
      .script(protocol + "ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js").wait()
      .script("/javascripts/browser.js")
      .script(protocol + "d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js");
  script(type="text/javascript)
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-13129098-3']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
