head
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=IE8")
  meta(charset="UTF-8")
  title Notepag.es - #{page.pagename}
  
  script
    var editing = #{page.editing};
    var pagename = "#{page.pagename}";
    var passreq = #{page.passreq};
  
  link(href='http://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic,bold,bolditalic', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="/stylesheets/build.css")
  link(rel="stylesheet", href="/stylesheets/print.css", media="print")
  link(rel="shortcut icon", href="/favicon.ico")
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
  script(src="/javascripts/build.js", type="text/javascript")

body
  #notify.drop-shadow
    span.message
  #page.drop-shadow
    #output
      div!= page.content
      div(style="clear:both")
    #footer Notepag.es was created by <a href="http://blog.chris-spencer.co.uk">Chris Spencer</a> and is <a href="https://github.com/fivesixty/notepages">Open Source</a>
  
  #toolpanel.readonly
    a#edit.readonly(href="#edit") edit
      img(src="/images/pencil_24.png", alt="edit", title="edit")
    
    a#cancel.edit(href="#edit") close
      img(src="/images/cancel_24.png", alt="close", title="close")
          
    a#save.edit(href="#edit") save
      img(src="/images/save_24.png", alt="save", title="save")
              
    a#preview.edit(href="#edit") preview
      img(src="/images/magnifier_24.png", alt="preview", title="preview")
                  
    a#password.edit(href="#edit") password
      img(src="/images/lock_24.png", alt="password", title="password")
  
  #editpanel
    #dragger
    #acetools
    #ace
    
  script(type="text/x-mathjax-config")
    :protect
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["%%","%%"]]},
        "HTML-CSS": {
          scale: 100
        }
      });
  script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js")
  script(type="text/javascript)
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-13129098-3']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
